body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* darker purple */
    background: linear-gradient(183deg, rgba(100, 97, 255, 1) 0%, rgb(118, 62, 228) 100%);
    /* lighter purple */
    /* background: linear-gradient(183deg, rgba(100, 97, 255, 1) 0%, rgba(207, 201, 255, 1) 100%); */
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.subheading {
    padding: 30px;
    max-width: 800px;
    font-size: 1.2rem;
    margin: 0 auto;
    text-align: center;
}


h2 {
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0;
    padding:0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    margin: 0;
    padding:0;
    font-weight: 300;
}

.navbar {
    font-size: 18px;
    background: transparent;
    padding: 15px 10vw;
    margin-bottom: 90px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.main-nav>li>a {
    position: relative;
    text-decoration: none;
    color: inherit;
}

.main-nav>li>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.active-nav a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.main-nav li {
    text-align: right;
    margin: 15px 30px 15px 0;
}

.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 4px;
    display: inline-block;
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 30px;
    right: 10vw;
    margin-right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 885px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.icon-container {
    text-align: center;
    width: 200px;
    border-right: 1px solid white;
    padding-right: 40px;
    margin-right: 40px;
}

#habitat-icon {
    max-width: 10vw;
    min-width: 150px;
    margin: 0 auto;
    border-radius: 20%;
    -webkit-box-shadow: 8px 8px 0px #434343;
    box-shadow: 8px 8px 0px #434343;
}

.tagline-container {
    width: 100%;
    height: 200px;
    text-align: left;
    font-size: 2rem;
    font-weight: 200;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tagline p {
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: 400;
}

.download-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.download {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    background: grey;
    padding: 20px 30px;
    border-radius: 50px;
    display: inline-block;
    border: none;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    transform: translate(0, -50px);
    -webkit-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
}

footer {
    width: 100%;
    height: 120px;
    text-align: center;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 800px) {
    .tagline-container {
        text-align: center;
        flex-direction: column-reverse;
    }

    .tagline {
        margin-bottom: 30px;
    }

    .icon-container {
        border: none;
        padding-right: 0;
        margin-right: 0;
    }
}

#press-kit-link {
    min-width: 100px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

#external-link-icon {
    max-height: 15px;
    max-width: 15px;
}
